<div class="container content-section">
    <h2 class="header-section">REGISTRATION FORM(LOCAL DELEGATES)</h2>
    <span class="header-text">Please complete the form below:</span>
    <h2 class="header-deadline">Deadline for registration: 15 September 2017</h2>


    <script type="text/javascript">var submitted = false;</script>
    <iframe name="hidden_iframe" id="hidden_iframe" style="display:none;)"></iframe>

    <form id="form-content" name="" action="https://docs.google.com/forms/d/e/1FAIpQLSddShhkUEoRk1PUhvLnL6DETZSMEDyOpvl-0faYYCZz6xGNfA/formResponse" class="form-content clearfix" target="hidden_iframe" method="POST">
        <div class="form-item radio clearfix col-md-12">
            <h2 class="form-header">PERSONAL INFORMATION</h2>
            <span class="content-title stylized-header">Title</span>
            <label class="radio-inline">
                <input class="radioTitle" type="radio" name="titleRadio" value="Prof" required>Prof.
            </label>
            <label class="radio-inline">
                <input class="radioTitle" type="radio" name="titleRadio" value="Dr">Dr.
            </label>
            <label class="radio-inline">
                <input class="radioTitle" type="radio" name="titleRadio" value="Mr">Mr.
            </label>
            <label class="radio-inline">
                <input class="radioTitle" type="radio" name="titleRadio" value="Mrs">Mrs.
            </label>
            <label class="radio-inline">
                <input class="radioTitle" type="radio" name="titleRadio" value="Ms">Ms.
            </label>
            <input class="hidden radioListValue" name="entry.347932930" id="entry.347932930" value="">
        </div>

        <div class="form-item clearfix col-md-6">
            <span class="content-title stylized-header">Family Name</span>
            <input class="content-input form-control" name="entry.1748056055" id="entry.1748056055" autocomplete="off" required type="text" value="" aria-required="true" aria-invalid="false">
        </div>

        <div class="form-item clearfix col-md-6">
            <span class="content-title stylized-header">First Name</span>
            <input class="content-input form-control" name="entry.1465507989" id="entry.1465507989" autocomplete="off" required type="text" value="" aria-required="true" aria-invalid="false">
        </div>

        <div class="form-item clearfix col-md-6">
            <span class="content-title stylized-header">Position/Job Title</span>
            <input class="content-input form-control" name="entry.1274405084" id="entry.1274405084" autocomplete="off" required type="text" value="" aria-required="true" aria-invalid="false">
        </div>

        <div class="form-item clearfix col-md-6">
            <span class="content-title stylized-header">Company</span>
            <input class="content-input form-control" name="entry.1345118129" id="entry.1345118129" autocomplete="off" required type="text" value="" aria-required="true" aria-invalid="false">
        </div>

        <div class="form-item clearfix col-md-6">
            <span class="content-title stylized-header">Address</span>
            <input class="content-input form-control" name="entry.1002303056" id="entry.1002303056" autocomplete="off" required type="text" value="" aria-required="true" aria-invalid="false">
        </div>

        <div class="form-item clearfix col-md-6">
            <span class="content-title stylized-header">City/State</span>
            <input class="content-input form-control" name="entry.572929657" id="entry.572929657" autocomplete="off" required type="text" value="" aria-required="true" aria-invalid="false">
        </div>

        <div class="form-item clearfix col-md-6">
            <span class="content-title stylized-header">Postal Code</span>
            <input class="content-input form-control" name="entry.264134874" id="entry.264134874" autocomplete="off" required type="number" value="" aria-required="true" aria-invalid="false">
        </div>

        <div class="form-item clearfix col-md-6">
            <span class="content-title stylized-header">Email</span>
            <input class="content-input form-control" name="entry.282932038" id="entry.282932038" autocomplete="off" required type="email" value="" aria-required="true" aria-invalid="false">
        </div>

        <div class="form-item registration clearfix col-md-12">
            <h2 class="form-header">REGISTRATION CATEGORY</h2>
            <label class="radio-inline">
                <input class="radioRegistration" type="radio" name="registrationRadio" value="Member" required>Member at PHP 10,000.00
            </label>
            <label class="radio-inline">
                <input class="radioRegistration" type="radio" name="registrationRadio" value="Non-Member">Non-member at PHP 12,000.00
            </label>
            <input class="hidden radioListValue" name="entry.387386757" id="entry.387386757" value="">
        </div>

        <div class="form-item  clearfix col-md-6">
            <h2 class="form-header stylized-header">PAYMENT DECLARATION</h2>
            <p class="form-description">I hereby agree to be bound by the rules and regulations of the Conference and would like to settle the payment of</p>
            <input class="content-input declaration form-control" placeholder="Amount to be pay" name="entry.2108846572" id="entry.2108846572" autocomplete="off" required type="number" value="" aria-required="true" aria-invalid="false">
            <span class="separator">by</span>
            <input class="content-input declaration form-control" placeholder="" name="entry.650012554" id="entry.650012554" autocomplete="off" required type="date" value="" aria-required="true" aria-invalid="false">
        </div>

        <div class="content-button-container col-md-12">
            <button data-toggle="modal" type="submit" id="ss-submit" class="submit-button stylized-header">SUBMIT YOUR REGISTRATION</button>
        </div>
    </form>
</div>